.ap_container {
    display: inline-block;
    text-align: center;
	width: 30%;
	position: absolute;
	overflow: hidden;
	padding: 5px;
	background: rgba(245, 236, 242);
	border-radius: 4px;
	transition: all 1s;
}
.ap_controls {
	width: 100%;
    display:  flex;
	position: relative;
    flex-direction: row;
	font-size: large;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	cursor: pointer;
	
}

.ap_controls span {
	margin: 5px;
	display: inline-block;
}
.ap_container .playpausebtn {
    border-radius: 50%;
    font-size: larger;
}

.ap_container  svg {
    width: 25px;
	height: 25px;
}
.ap_controls .duration {
	width: 80%;
	margin-right: 10px;
	bottom: 4px;

}
.ap_controls input[type="range"] {
	-webkit-appearance: none;
	width: 100%;
	outline: none;
	height: 2px;
	margin: 0 15px;
	background: cyan;
}
.ap_controls:hover input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	cursor: pointer;
	background: darkturquoise;
}
.ap_controls input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	height: 0px;
	
}


.ap_sound {
	padding: 4px;
}
.ap_time {
	margin: 4px;
}